/* navbar */
* {
    /* margin: 0;
      padding: 0; */
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: medium;
  }
  
  .ground-glass {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.85s;
    background: transparent;
  }
  
  nav {
    position: relative;
    display: flex;
    padding: 10px 0;
    flex-direction: row-reverse;
  }
  
  nav a {
    position: relative;
    text-decoration: none;
    padding: 12px 25px;
    /* color: #000000; */
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  
  #marker {
    border-radius: 20px;
    position: absolute;
    top: 0;
    border-bottom: 3px solid #08f9ff;
    transition: 0.5s;
    pointer-events: none;
    filter: drop-shadow(0 5px 25px #08f9ff);
  }
  
  .scrolled {
    background-color: #000;
    color: #fff;
  }
  
  .border-b {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .align-left {
    position: absolute;
    left: 0;
  }
  /* navbar end */

  /* Sidebar.css */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #d3d3d3;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .sidebar a[href="#api-docs"] {
    /* Customize styles for API documentation link */
    background-color: #3498db; /* Example background color */
    color: white;
    font-weight: bold;
  }
  