.footer-menu {
    padding-left: 48px;
    padding-top: 10%;
  }
  
  .footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .footer-menu ul li a:hover {
    color: #ce1a19;
  }
  
  .footer-widget-title {
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .mini-footer {
    background: #000041;
    text-align: center;
    padding: 32px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* Responsive Css Code created by : Shift Code Design */
  
  .widget-about img {
    display: block;
    margin-bottom: 30px;
    max-width: 70%;
  }
  
  .widget-about p {
    font-weight: 400;
  }
  
  .widget-about .contact-details {
    margin: 30px 0 0 0;
  }
  
  .widget-about .contact-details li {
    margin-bottom: 10px;
  }
  
  .widget-about .contact-details li:last-child {
    margin-bottom: 0;
  }
  
  .widget-about .contact-details li i {
    padding-right: 10px;
    color: #333;
  }
  
  .widget-about .contact-details li a {
    color: #5867dd;
  }
  
  /* Responsive Css Code created by : Shift Code Design */
  
  @media (max-width: 991px) {
    .footer-menu {
      padding-left: 0;
    }
    .widget-about img {
      max-width: 50%;
    }
  }

  @media (min-width: 800px) and (max-width:1200) {
    

  }
  /* footer end */