@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
  /* font-family: 'Andada Pro';font-size: 22px; */
}

.login-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #1c75bc, #4aa1e0 51%, #1c75bc);
  /* linear-gradient(#1eaadd, #000001); */
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
}

.intro {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-family: sans-serif;
  font-variant: normal;
  font-size: 25px;
  line-height: 1.5;
  font-weight: 700;
  color: #000000;
  overflow: hidden; /* Hide overflow to create a typing effect */
  white-space: nowrap; /* Prevent text from wrapping */
  margin-bottom: 20px; /* Add margin for spacing */
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.productContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

.box {
  /* margin-top: 50px; */
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  height:fit-content;
  margin-left: 0;
  border: 2px solid rgba(226, 219, 219, 0.4);
  border-radius: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 20px;
}

.text {
  color: #002a9d;
  font-size: 40px;
  font-weight: 700;
}

.intro h1 {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
.intro h2{
  display: none;
  font-size: small;
}
.login-container h2{
  font-weight: 50;
  font-family: 'Montserrat', sans-serif !important;
}
.login-container h2,
.login-container h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;

  text-align: center;
  margin-left: 20vh;
  margin-right: 20vh;
}
.login-container h3{
  font-size: 30px;
  padding-top: 3vh;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 5, 160);
  }
}

.underline {
  width: 61px;
  height: 6px;
  background: #00259d;
  border-radius: 9px;
}

.inputs {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 50px;
  background: rgba(226, 219, 219, 0.4);
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
}
.input img {
  filter: brightness(0%) invert(20%) !important; /* Set the desired filter to make the icons black */
}

.forgotPassword {
  margin-top: 27px;
  color: #fff;
  font-size: 18px;
}

.forgotPassword span {
  color: #00259d;
  cursor: pointer;
}

/* Target autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  /* Set styles here */
  background-color: rgba(226, 219, 219, 0.4) !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.submit-container {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  justify-content: center;
  width: 90%;
  /* padding-left: 60px;
  padding-right: 60px; */
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 59px;
  color: #fff;
  background: #1169b0;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: rgba(226, 219, 219, 0.4);
  color: #060606;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .intro h1{
    width: 30%;
    overflow:calc() !important;
    animation: none !important;
    border-right:none !important; 
  }
  .login-container h2{
    font-size: medium;
  }
  .intro{
    padding-top: 0;
  }
  .container{
    margin-top:5vh;
  }
  
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    flex-direction: column;
    overflow-y: scroll;
  }
  .box {
    width: 100%;
  }
  .intro {
    font-size: xx-large;
  }
  .intro h1{
    width: 30%;
    overflow:calc() !important;
    animation: none !important;
    border-right:none !important; 
  }
  .productContainer {
    margin-top: 50px;
  }
  .input,
  .submit-container {
    width: 90%;
    padding-left: 0;
  }
  .login-container h2,
  .login-container h3 {
    display: none;
  }
  
}

@keyframes bounce {
  0% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(-150px);
  }
}

.bounce-container-parent {
  /* width: 150px; */
  /* height: 150px; */
  position: relative;
  /* margin: 30px; */
  display: flex;
  justify-content: center;
}

.bounce-container {
  display: inline-block;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  /* border: 1px solid black; */
  position: absolute;
}

.image-bounce {
  height: 250px;
  animation: bounce 7s infinite;
  /* position: absolute; */
}

.platform {
  position: absolute;
  width: 300px;
  top: 200px;
}
